@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*---Reset---*/
*{margin: 0;
padding: 0;
}

body {background-color: $color-principal;
font-size: 16px;
color: $color-secundario;
font-family: "Montserrat", sans-serif;}

.carousel-caption {color: $color-principal;font-weight: 500; font-style: italic;}
#texto-claro {color: white; font-weight: 500; font-style: italic;}


