
@media screen and (max-width: 613px){.info {text-align: center;
height: 500px;
padding: 20px;
background-color: rgba(29, 34, 35, 0.705);
font-size: 12px;}}

@media screen and (max-width: 453px){.info {height: 500px;
padding: 10px;
font-size: 12px;}}

@media screen and (max-width: 974px){.grid-destacados {grid-template-columns: 1fr 1fr;}}

@media screen and (max-width: 586px){.grid-destacados {grid-template-columns: 1fr;}}

@media screen and (max-width: 453px){.subtitulo h2 {padding-top: 50px;
font-size: 20px;}}

@media screen and (max-width:1025px){.flex-contenido div {flex-wrap: wrap;}}

@media screen and (max-width:1025px){.navbar-toggler-icon {
filter: invert(100%)}}

@media (max-height: 700px) {.contact-box {margin-top: 10px; margin-left: 60%; padding: 10px;}}

@media screen and (max-width: 678px) {.contact-box {flex-wrap: wrap;
margin: 20px auto;
margin-top: 30%;
padding: 20px;
font-size: 12px;}}


@media screen and (max-width: 450px){.logo {margin-top: 20px;}}

@media (max-height: 500px) {.contact-box {margin-top: 0px;padding: 0px;}}

@media screen and (max-width: 600px){.flex-redes {margin-top: 20px;}}



//-------Pagina Compañias------//
@media screen and (max-width:870px){.flex-contenido div {font-size: 14px;}}
@media screen and (max-width:448px){.navbar-brand { font-size: 1rem;
white-space: normal;
text-align: left;
max-width: 200px;}}

@media screen and (max-width: 768px) {.titulocompanias h1{font-size: 2rem;
height: 400;}
}
@media screen and (max-width: 760px) {.subtitulocompanias div h3{font-size: 1.5rem;
height: 400; margin-left: 0%; margin-right: 0%;}
}


/*--------------Pagina Productos -----------*/
@media screen and (max-width:690px){.grid-productos {grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 100px 100px 100px;}}

@media screen and (max-width:500px){.grid-productos {grid-template-columns: 1fr 1fr;
grid-template-rows: 100px 100px;}}

@media screen and (max-width:416px){.grid-productos {grid-template-columns: 1fr;
grid-template-rows: 100px;}}


/*--------------Pagina siniestros -----------*/
@media screen and (max-width:670px){.grid-numeros {grid-template-columns: 1fr 1fr 1fr;}}

@media screen and (max-width:540px){.grid-numeros {grid-template-columns: 1fr 1fr;}}

@media screen and (max-width:350px){.grid-numeros {grid-template-columns: 1fr;}}
/*--------------Pagina Contacto -----------*/
@media screen and (max-width:680px){.grid-centro {grid-template-columns: 1fr;
grid-template-rows: 1fr;}}
@media screen and (max-width:680px){.grid-horarios {font-size: 14px;}}