.footer-contenido {display: flex;
justify-content: space-between;
align-items: center;
margin: 0.5%;
margin-bottom: 0px;
flex-wrap: wrap;
}

.contacto {
flex: 1;
min-width: 250px;
text-align: start;
}

.logo {
max-width: 180px;
img {
width: 100%;
height: 180px;
border-radius: 10px;}}

.boton a {color: $color-secundario;
text-decoration: none;
border: $color-secundario;
border-style: ridge;
background-color: rgb(34, 80, 95);
margin-top: 20px;
padding: 10px;
font-weight: 500;
border-radius: 10px;}

.boton a:hover {background-color: rgb(43, 163, 137);
color: $color-secundario;
cursor: pointer;
transition-duration: 1s;
}

.flex-redes {display: flex;
flex-wrap: wrap; gap: 10px;
margin-left: 0.5%;
margin-bottom: 10px;

div { 
a {display: inline-block;
animation: pulse 1.5s infinite;
}

@keyframes pulse {
0% { transform: scale(1); opacity: 1; }
50% { transform: scale(1.1); opacity: 0.7; }
100% { transform: scale(1); opacity: 1; }
}}
}

.bi{color: $color-secundario;}

